/*
Gerador de Termos 1.2.1

Copyright © 2020, William Alcântara Costa
Todos os direitos reservados.
Esse código está licenciado sob a Licença de Três Cláusulas BSD - disponível em https://gitlab.com/williamcosta/gerador-de-termos/-/blob/master/LICENSE
*/

.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	width: 100%;
	top: 0;
}

.linhaMenu {
	float: left;
}

.linkMenu {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.linkMenu:hover {
	background-color: #111;
}

.centro {
	text-align: center;
}

.alinhado {
	text-align: justify;
}

.direita {
	text-align: right;
}

.cabecalho {
	text-align: center;
	font-weight: bold;
}

.rodape{
	font-size:12px;
	text-align:center;
	color:#FFFFFF;
	background-color:#333;
	border-style:double;
	width: 100%;
	/* FIXO */
	position: fixed;
	left: 0;
	bottom: 0;
}

body{
	margin-bottom:150px;
}

.corpoTermo{
	margin-bottom:0px;
}
